<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Barra de progreso</h5>
                <div class="progress">
                    <div 
                        class="progress-bar progress-bar-striped progress-bar-animated" 
                        role="progressbar" 
                        [attr.ariaValuenow]='progress1'
                        [style.width]="progress1 + '%'"
                    ></div>
                </div>

                <br>

                <div class="progress">
                    <div 
                        class="progress-bar progress-bar-striped progress-bar-animated bg-success" 
                        role="progressbar" 
                        [attr.ariaValuenow]='progress2'
                        [style.width]="progress2 + '%'"
                    ></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-6">
        <div class="card rounded-0">
            <div class="card-body">
                <app-incrementator 
                    leyenda="Leyenda azul" 
                    [progress]='progress1' 
                    (valueNumber)="log1($event)">
                </app-incrementator>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card rounded-0">
            <div class="card-body">
                <app-incrementator 
                    leyenda="Leyenda verde" 
                    [progress]='progress2' 
                    (valueNumber)="log2($event)">
                </app-incrementator>
            </div>
        </div>
    </div>

</div>