<div class="container-fluid mb-2 px-0"> 
    <div class="row mb-4">
      <div class="container-fluid">
        <style>.bannerfrt{background-image:URL('assets/img/ferre2.jpg');}</style>
        <div class="row w-auto shadow-lg">
          <div class="col-12 bannerfrt pl-0">
            <h2 class="pl-3 py-1 h-100 title"> Ferretería </h2>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row row-cols-sm-2 mb-3">
  
      <div class="col-sm-3 px-3 my-4 text-center">
        <div class="card rounded-0">
          <img src="assets/img/p1.jpg" class="card-img-top rounded-0" alt="...">
          <div class="card-body p-0">
            <h5 class="card-title"> 
              <p class="text-dark p-1 pb-0 font-weight-lighter mb-0"> Herramienta para cortar monte </p>
            </h5>
          </div>
          <ul class="list-group list-group-flush text-center text-dark">
            <li class="list-group-item pl-3 price-color">BsS: 123456,789</li>
            <a href="#" class="btn btn-block rounded-0 show_me"> Ver producto...</a>
          </ul>
        </div>
      </div>

    </div>
</div>
