<!-- Heading -->

<li class="nav-item mb-0">
    <div class="sidebar-heading"> Ferreteria </div>

    <div class="nav-link active p-0">
        <a class="nav-link" href="/#/dashboard/productos/ferreteria">
            <i class="fas fa-archive mr-1"></i>
            <span>Agregar productos</span></a>
    </div>

    <div class="sidebar-heading"> Bodegon </div>
    
    <div class="nav-link active p-0">
        <a class="nav-link" href="/#/dashboard/productos/bodegon">
            <i class="fas fa-archive mr-1"></i>
            <span>Agregar productos</span></a>
    </div>
</li>