<div class="row">
  <div class="col-md-12">
    <div class="card rounded-0">
      <div class="card-header">
        Certificados
      </div>
      <div class="card-body">
        <div class="card" style="width: 12rem;">
          <img src="assets/img/PDF.svg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Visualizar</a>
          </div>
        </div>
      </div>
    </div>


</div>
</div>