<li class="nav-item mb-0">
    <div class="sidebar-heading"> Gestión </div>

    <div class="nav-link active p-0">
        <a class="nav-link py-2" href="/#/dashboard/categorias">
            <i class="fas fa-archive mr-1"></i>
            <span>Categorias</span></a>
    </div>
    <div class="nav-link active p-0">
        <a class="nav-link py-2" href="/#/dashboard/certificados">
            <i class="fas fa-archive mr-1"></i>
            <span>Certificados</span></a>
    </div>
    <div class="nav-link active p-0">
        <a class="nav-link py-2" href="/#/dashboard/cotizaciones">
            <i class="fas fa-archive mr-1"></i>
            <span>Cotizaciones</span></a>
    </div>
    <div class="nav-link active p-0">
        <a class="nav-link py-2" href="/#/dashboard/pagos">
            <i class="fas fa-archive mr-1"></i>
            <span>Pagos</span></a>
    </div>
    <div class="nav-link active p-0">
        <a class="nav-link py-2" href="/#/dashboard/reportes">
            <i class="fas fa-archive mr-1"></i>
            <span>Reportes</span></a>
    </div>
</li>