<li class="nav-item mb-0">
    <a class="nav-link collapsed py-2" href="#" data-toggle="collapse" data-target="#collapsePages"
        aria-expanded="true" aria-controls="collapsePages">
        <i class="fas fa-fw fa-folder"></i>
        <span>Páginas</span>
    </a>
    <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Visualizar:</h6>
            <a class="collapse-item" href="login.html">Materiales Ikabaru</a>
            <a class="collapse-item" href="register.html">Bodegón Aldia</a>
        </div>
    </div>
</li>