<div class="row mt-4">
    <div class="container-fluid px-0">
        <div class="row text-center p-0 m-0 mb-4 shadow">
            <div class="col-sm-6 px-0 my-0">
                <style>
                </style>
                <div class="card rounded-0 booder-0">
                    <img src="assets/img/ferre.jpg" class="card-img-top rounded-0 border-0" alt="...">

                    <ul class="list-group list-group-flush text-center text-dark ">
                        <a href="#" class="btn btn-block rounded-0 show_me align-middle">Visitar ferreteria </a>
                    </ul>
                </div>
            </div>

            <div class="col-sm-6 px-0 my-0">
                <div class="card rounded-0 booder-0">
                    <img src="assets/img/bodegon.jpg" class="card-img-top rounded-0 border-0" alt="...">

                    <ul class="list-group list-group-flush text-center text-dark ">
                        <a href="#" class="btn btn-block rounded-0 show_me align-middle">Visitar bodegón </a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid px-0">

    <div class="row w-auto shadow-lg">
        <div class="col-12 banner pl-0">
            <h2 class="pl-4 py-1 h-100 title"> Nostros </h2>
        </div>
    </div>
    <div class="row px-3">

        <div class="col-sm-6 text-dark">

            <p class="pt-1 mb-0 text-justify pt-4">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Neque veritatis molestias sint repellendus dolorum at eaque,
                cum est cupiditate minus doloribus sit laudantium ducimus ipsa quae
                accusantium libero delectus ipsam? <br><br>
            </p>

        </div>
        <div class="col-sm-6 text-dark px-0">
            <div class="card rounded-0">
                <img src="assets/img/p1.jpg" class="card-img-top rounded-0" alt="...">
            </div>
        </div>


        <div class="col-sm-6 text-dark px-0 mt-3">
            <div class="card rounded-0">
                <img src="assets/img/p1.jpg" class="card-img-top rounded-0" alt="...">
            </div>
        </div>
        <div class="col-sm-6 text-dark">

            <p class="pt-1 mb-0 text-justify pt-4">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Neque veritatis molestias sint repellendus dolorum at eaque,
                cum est cupiditate minus doloribus sit laudantium ducimus ipsa quae
                accusantium libero delectus ipsam? <br><br>
            </p>

        </div>
    </div>
</div>

<div class="container-fluid px-0">
    <style>
      .banner
      { 
        color: #e4f1fe; 
        background-color: #22313f;
        font-family: Arial, Helvetica, sans-serif;
      }
      .title
      {
        background-color: #1f3a93; color: #e4f1fe;
        width: 10em;
        clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
      }
    </style>
    <div class="row w-auto shadow-lg mb-3">
      <div class="col-12 banner pl-0">
        <h2 class="pl-4 py-1 h-100 title"> Contáctanos  </h2>
      </div>
    </div>
    <div class="row px-3">
      
      <div class="col-sm-4 text-dark">
      
        <p class="pt-1 mb-0 text-justify"> 
          <b>Dirección:</b> <br>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
          Neque veritatis molestias sint repellendus dolorum at eaque, 
          cum est cupiditate minus doloribus sit laudantium ducimus ipsa quae 
          accusantium libero delectus ipsam? <br><br>
        </p>
  
      </div>
      
      
      <div class="col-sm-4">
  
        <p class="pb-2 pt-1 mt-0"> 
          <b>Telefono:</b> <br>
          +58 0412 8888888 <br>
          +58 0286 8888888
        </p>
      </div>
  
      <div class="col-sm-4">
        <style>
          a img { height: 5em !important;}
        </style>
  
        <b>Visítanos:</b>
  
        <div class="row">
          <div class="col-4">
            <a href="" class="link"> 
              <img src="assets/img/whatsapp.svg" height="50px" width="50px">
            </a>
          </div>
          <div class="col-4">
            <a href="" class="link"> 
              <img src="assets/img/facebook.svg" height="50px" width="50px">
            </a>
          </div>
          <div class="col-4">
            <a href="" class="link"> 
              <img src="assets/img/instagram.svg" height="50px" width="50px">
            </a>
          </div>
        </div>
      </div>
    </div>
</div>